<?xml version='1.0' encoding='utf-8'?>
<widget id="co.arcweb.chappiecast" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ChappieCast</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="max@arcweb.co" href="http://arcweb.co">
        Max Furman
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AllowInlineMediaPlayback" value="true"/>
        <icon src="res/android/icon-hdpi.png" density="hdpi"/>
        <icon src="res/android/icon-ldpi.png" density="ldpi"/>
        <icon src="res/android/icon-mdpi.png" density="mdpi"/>
        <icon src="res/android/icon-xhdpi.png" density="xhdpi"/>
        <icon src="res/android/icon-xxhdpi.png" density="xxhdpi"/>
        <icon src="res/android/icon-xxxhdpi.png" density="xxxhdpi"/>
        <splash src="res/android/splash-hdpi.png" density="port-hdpi"/>
        <splash src="res/android/splash-ldpi.png" density="port-ldpi"/>
        <splash src="res/android/splash-mdpi.png" density="port-mdpi"/>
        <splash src="res/android/splash-xhdpi.png" density="port-xhdpi"/>
        <splash src="res/android/splash-xxhdpi.png" density="port-xxhdpi"/>
        <splash src="res/android/splash-xxxhdpi.png" density="port-xxxhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="AllowInlineMediaPlayback" value="true"/>
        <preference name="BackupWebStorage" value="local"/>
        <icon src="res/ios/appicon-60.png" height="60" width="60"/>
        <icon src="res/ios/appicon-60@2x.png" height="120" width="120"/>
        <icon src="res/ios/appicon-60@3x.png" height="180" width="180"/>
        <splash src="res/ios/Default.png" height="480" width="320"/>
        <splash src="res/ios/Default@2x.png" height="960" width="640"/>
        <splash src="res/ios/Default-568h@2x.png" height="1136" width="640"/>
        <splash src="res/ios/Default-667h@2x.png" height="1334" width="750"/>
        <splash src="res/ios/Default-Portrait.png" height="1024" width="768"/>
        <splash src="res/ios/Default-Portrait@2x.png" height="2048" width="1536"/>
        <splash src="res/ios/Default-Portrait-736h@3x.png" height="2208" width="1242"/>
    </platform>
    <icon src="web_hi_res_512.png"/>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>
