* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3D3840; }

h3 {
  font-family: "fatfrank", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1em;
}

a {
  color: #F0AF50;
  text-decoration: none; transition: color.5s;}
  a:hover {
    text-decoration: underline; color:#F16521; }

.site-footer-credits a {
  color: #F0AF50;}

.btn {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
/*  margin: 0 5rem 1rem 5rem;*/
  padding: 2rem 3rem;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(241, 101, 33, 1.0);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 0;
  border-radius: 0.4rem;
  box-shadow: 0px 3px 0px #F0AF50;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s; }
  .btn + .btn {
  margin-left: 1rem;
}

.btn:hover {
  color: rgba(240, 175, 80, 1.0);
  text-decoration: underline;
  background-color: rgba(216, 71, 0, 1.0);
  box-shadow: 0px 6px 0px #F0AF50;
  }

.buttondiv{ text-align: center;}

.textblock{ padding: 1.5em 0;}
.textblock p{font-size: 1.5em;}

.installsteps {font-size: 1.5em;}



.movieblock, x:-moz-any-link, x:default{background: #F16521; background-size: cover;}


body:not(:-moz-handler-blocked) .movieblock {
    background: #F16521;
  }

.movieblock {background: #fd7a1c; background-size: cover;}

.movie{
  display: block;
  background: #F16521;
  margin: 0 auto;
  z-index: -100;
  text-align: center;
  background: url(..images/HeroShort.png) no-repeat;
  background-size: cover;
}

.site-footer {
  background-color: #F16521;
  background-size: cover;
  padding: 7rem 0;
  margin-top: 2rem;
  color: white;
  text-align: center;
}

.site-footer-owner h4{
  display: block;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.site-footer-credits {
  position: relative;
  text-align: center;
  top: 6em;
}

.hexbuttondiv img { padding: 1em; margin-top: 2em; transition: all .3s;}

.hexbuttondiv img:hover {
  transform: translateY(-10px);
  border-radius: 20em;
}


/*---------------Responsive Media Queries------------*/

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; }
     }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } 
   .movieblock{display: none;}}

@media screen and (min-width: 94em) {
  /*.page-header {
    padding: 5rem 6rem;
    background-size: contain;*/}}

@media screen and (min-width: 64em) {
  .page-header {
    /*padding: 5rem 6rem;*/}}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    /*padding: 3rem 4rem;*/ } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } 
  .page-header {
  background: url(../images/HeroMobile.png);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  }}
